*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
}
.logo img{
    width: 70px;
    max-width: 100%;
}

.logo h2{
    color: rgb(164, 161, 160);
}
.container {
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
  background-color: rgb(230, 236, 240);
}

.topTitel {
  width: 100%;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 15px;
  margin: 0;

  border-bottom: 1px solid rgb(213, 212, 212);

  font-family: Arial, Helvetica, sans-serif;
}

ul li a {
  text-decoration: none;
  color: rgb(100, 111, 111);
  font-size: 17px;
  transition: color 0.2s ease;
}
ul li a:hover {
  color: #f4a261;
  text-decoration: underline;
  text-decoration-color: #f4a261;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px; /* Avstand mellom tekst og underlinje*/
}



.soura{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 70vh;          
}

.soura img{
  width:40%;
  
}

p{
    color: #f4a261;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.omOss{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    gap: 30px;
    padding: 40px 20px;
}


.en, .no, .ar {
  width: 50%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: olive;
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid #f4a261;
  padding-bottom: 20px;
}
.ar {
    direction: rtl;
    text-align:justify;
/*     text-align: right;
 */   

}
.en,
.no {
    direction: ltr;
    text-align:justify;
    
}


/* -------------- media query 768 px -----------------------*/

@media (max-width: 768px) {

  .container,
  .logo {
    width: 100%;
  }

  .logo h2 {
        font-size: 22px;
    }

  ul li a{
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

.topTitel {
  width: 100%;
  
}

.en,
.no,
.ar {
    width: 90%;
    margin-bottom: -25px;
}
  .soura img {
    width: 70%;
  }

}
