*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  overflow-y: scroll;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
}
.logo img{
    width: 55px;
    max-width: 100%;
}

.logo h2{
    color: rgb(164, 161, 160);
    
}
.container {
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
/*   background-color: rgb(230, 236, 240);
 */}

.topTitle {
  width: 100%;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;

  border-top: 1px solid rgb(213, 212, 212);
  border-bottom: 1px solid rgb(213, 212, 212);

}

ul li a {
  text-decoration: none;
  color: rgb(100, 111, 111);
  font-size: 17px;
  transition: color 0.2s ease;
}
ul li a:hover {
  color: #f4a261;
  text-decoration: underline;
  text-decoration-color: #f4a261;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px; /* Avstand mellom tekst og underlinje*/
}



.soura{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 70vh;          
}

.soura img{
  width:40%;
  
}

p{
    color: #f4a261;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.omOss{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    gap: 30px;
    padding: 40px 20px;
}


.en, .no, .ar {
  width: 50%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: olive;
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid #f4a261;
  padding-bottom: 20px;
}
.ar {
    direction: rtl;
    text-align:justify;
/*     text-align: right;
 */   

}
.en,
.no {
    direction: ltr;
    text-align:justify;
    
}

/* --------------------------------------- Vikinglotto ---------------------*/

#stora .bil img{
  width: 350px;
  height: auto;
}

#store .bill img{
  width: 300px;
  height: auto;
  padding-left: 40px;

/*     border: 1px solid red;
 */

  
}

#ballImages img{
  width: 100px;
}

#stora, #store{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
/*    border: 1px solid red;
 */ 
}


.trekk{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  width: 20%;
/*  border: 1px solid red;
 */  }

h1{
  font-size: 40px;
  color: #8c8686;
  font-weight: 700;
}
h2{
  color: #f4a261;
  font-size: 22px;
}
label{
  color: #767474;
  font-size: 20px;
  font-weight: 600;
}
.knapp {
  width: 150px;
  height: 35px;
  margin: 15px 0;
  transition: 0.3s ease;
  font-size: large;
  font-weight: 600;

  background-color: #f4a261;
  color: rgb(255, 255, 255);
  border-radius: 50px;
   border: 1px solid transparent;
  cursor: pointer;
}

.knapp:hover{
  color: white;
  background-color: #ccc;
  border: 0.5px solid rgba(255, 255, 255, 0.815);
  transform: translateY(-2px);
}

input{
  width: 100px;
  height: 30px;
  border: 0.5px solid #ccc ;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #8c8686;
}
#ballResult{
  font-size: 24px;
  font-weight: 600;
  color: #767474;
  margin-top: 15px;
}

#ballImages{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
/*   border: 1px solid red;
 */}

/* --------------- tic tac -----------------------------------*/
.board {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 5px;
    width: max-content;
    margin: 20px auto;

/*     border: 1px solid red;
 */  }

  .cell {
    width: 160px;
    height: 160px;
    font-size: 80px;
    cursor: pointer;
    color: rgb(153, 0, 255);
    background-color: rgb(248, 235, 218);
    border:none;

/*         border: 1px solid rgb(0, 0, 255);
 */
  }

  #status {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: blueviolet;

/*     border: 1px solid rgb(0, 0, 255);
 */  }

  .btn{
    display: flex;
    justify-content: center;
    padding: 10px 0;

/*     border: 1px solid red;
 */  }
  .btn button{
    width: 150px;
    height: 35px;
    background-color: rgb(158, 109, 205);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
  }

  .btn button:hover{
    background-color: white;
    color: blueviolet;
    border: 0.5px solid blueviolet;
  }

  #tic {
    text-align: center;
    color: #f4a261;
/*     border: 1px solid red;
 */  }

 .menu-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.tictac{
  width:90px;
  padding-top: 10px;
  display: flex;
  margin: 0 auto;

}
.norsk-tipping {
  position: relative;
}

.tipp {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  min-width: 150px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius: 0 10px 10px 0;

}

.tipp a,
.tipp a:hover,
.tipp a:focus,
.tipp a:active {
    text-decoration: none;
}

.tipp li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.tipp li a:hover {
  background: #f0f0f0;
}

/* Å vise list ved hover muse på */
.norsk-tipping:hover .tipp {
  display: block;
}


/* -------------- media query 768 px -----------------------*/

@media (max-width: 780px) {

  /*--------------------------- Norsk tipping --------------*/

  .norsk-tipping{
    width:100%;
  }

  .tipp{
    display:none;
    position:static !important;
    margin:0 !important;
    padding:0 0 0 5px !important;
    width:100%;
  }

  .tipp.show{
    display:block;
  }

  .tipp li{
    margin:0;
    padding: 5px;
  }
/*--------------------------- toggel Menu --------------*/
  .topTitle {
    position: relative;
  }

  .menu-btn {
    display: block;
    font-size: 32px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    color: #8d8c8c;

  }

  .topTitle ul {
    display: none;
    flex-direction: column;

    position: absolute;
    left: 10px;      /* ved siden av knappen*/
    top: 60px;

    width: 220px;
    background: white;

    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);

    z-index: 1000;
  }

  .topTitle ul.show {
    display: flex;
  }

  .topTitle li {
    width: 100%;
    list-style: none;
  }

  .topTitle li a {
    display: block;
    padding: 10px 12px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
  }

  .topTitle ul li a:hover {
  color: #f4a261;
  text-decoration: none;
  
}

/*-----------------------------------------*/


 .container,
  .logo {
    width: 100%;
  }

  

.en,
.no,
.ar {
    width: 90%;
    margin-bottom: -25px;
}

  .container {
    height: auto;
    min-height: 100vh;
  }

.soura {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .soura img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
  }

 .board {
    grid-template-columns: repeat(3, 31vw);
    gap: 2px;
  }

  .cell {
    width: 31vw;
    height: 31vw;
    font-size: 18vw;
  }
   #tic h2 {
    text-align: center;
    color: #f4a261;
 }

 .trekk{
  width: 60%;
 }

 #ballImages img{
  width: 55px;
 }

}
