*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  overflow-y: scroll;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  
}
.logo img {
  width: 55px;
  max-width: 100%;
}

.logo h2{
    color: rgb(164, 161, 160);
}
.container {
  width: 80%;
  min-height:80vh;
  margin: 0 auto;
/*   background-color: rgb(230, 236, 240);
 */
}

.topTitle {
  width: 100%;
  margin: 0 auto;
/*   padding: 20px 0px;
 */}


ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;

  border-top: 1px solid rgb(213, 212, 212);
  border-bottom: 1px solid rgb(213, 212, 212);

}

ul li a {
  text-decoration: none;
  color: rgb(100, 111, 111);
  font-size: 17px;
  transition: 0.15s;
}
ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #f4a261;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px; /* Avstand mellom tekst og underlinje*/
}

/* ----------------------------------------------------------------------------------------------------*/

p {
  color: #f4a261;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.top {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;

/* border: 1px solid rgb(0, 255, 68);
 */  }

  .sokeNavn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

/* border: 1px solid red;
 */ }

 /* .topp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    border: 1px solid rgb(0, 0, 255);
  
  } */

.bilde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0 auto;
/* border: 1px solid rgb(0, 217, 255);
 */ 
}

.bilde img {
 width: 100px;
}

.bilde h2 {
  color: #f4a261;
    padding-bottom: 10px;

/*     border: 1px solid red;
 */}

#sokeType {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 200px;
  height: 35PX;
  padding:5PX;
/*   border:none;
 */  border-radius: 8px;

  font-size: 20px;
  font-weight: 700;
  color: #1d4c3dc3;
  cursor: pointer;
  border: 0.5px solid  rgb(213, 212, 212);
  
}

#sokeType:focus {
  outline:#f4a261;
}

.sokNavnInput {
  flex: 1;
  max-width: 180px;
  height: 35px;
  font-size: 16px;
}

#sokNavnInput::placeholder {
  color: gray;
   font-size: 20px;
  font-weight: 700;
  
}

h1 {
 font-size: 40px;
  color: #8c8686;
  font-weight: 700;
/*   border: 2px solid rgb(34, 0, 255);
 */}
.oversikt{
  color: #f4a261;
  display: flex;
  justify-content: center;
}

.btnNavn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 15px;
/* border: 1px solid rgb(42, 191, 139);
 */ 
}

#tlf{
  color: darkslateblue;
}

.beregne{
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.btnBeregne{

  width: 120px;
  height: 35px;
  margin: 10px 15px;
  transition: 0.3s ease;
  font-size: large;
  font-weight: 600;

  background-color: #f4a261;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.btnBeregne:hover{
  color: white;
  background-color: #a6a6ecb6;
  border: 0.5px solid rgba(255, 255, 255, 0.815);
  transform: translateY(-2px);
}

.table-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  margin: 0px auto;

}

span{
  color: rgb(59, 81, 104);
}

hr {
  width: 50%;
  border: 1px solid #f4a261;
  margin: 20px auto;
}


.content-table,
.arlig-table {
   border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  font-size: 20px;
  width: 100%;
 
}

.content-table thead tr,
.arlig-table thead tr {
  background-color: #ffffff;
  color: #1d4c3d;
  text-align: center;
  font-weight: bold;
  width: 100%;
  /* border-bottom: 5px solid #f4a261; */
}

.content-table th,
.content-table td,
.arlig-table th,
.arlig-table td {
  padding: 10px 12px;
}

.content-table tbody tr,
.arlig-table tbody tr {
  border-bottom: 0.1px solid #ffffff51;
  text-align: center;
  font-weight: bold;
  scroll-margin-top: 85px;
}
.content-table tbody tr:nth-of-type(even),
.arlig-table tbody tr:nth-of-type(even) {
  background-color: #d0e8f7;
  color: rgb(59, 81, 104);
  
  
}

.remove-btn, .edit-btn{
  padding: 5px 10px;
  background-color: #f4a261;
  color: white;
  border-radius: 25px;
  border: none;
  
}

input {
  width: 200px;
  height: 35px;
  margin: 10px 10px;
  padding-left: 10px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #1d4c3d;
  border: 0.5px solid  rgb(213, 212, 212) ;
}
input:focus {
  outline: none;
  border: 1px solid #f4a261;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
 
/*   border: 1px solid red;
 */}

.btn, .btnn {
  width: 150px;
  height: 35px;
  margin: 10px 15px;
  transition: 0.3s ease;
  font-size: large;
  font-weight: 600;

  background-color: #f4a261;
  color: rgb(255, 255, 255);
  border-radius: 50px;
   border: 1px solid transparent;
  cursor: pointer;
}

.btn:focus-visible,
.btnBeregne:focus-visible,
.btnn:focus-visible {
  outline: none;
  border: 1px solid #615f5f;
}


.btn:hover {
  color: white;
  background-color: #a6a6ecb6;
  border: 0.5px solid rgba(255, 255, 255, 0.815);
  transform: translateY(-2px);
}

.btnn:hover {
  color: white;
  background-color: #a6a6ecb6;
  border: 0.5px solid rgba(255, 255, 255, 0.815);
  transform: translateY(-2px);
}

.search-row,
.search-row span {
  background-color: rgb(88, 173, 73) !important;
  color: rgb(255, 255, 255) !important;
}

/* fikset h2 */
.manar {
  font-size: clamp(18px, 4vw, 30px);
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: rgb(59, 81, 104);
  color: #f4a261;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 10;
/*     border-bottom: 2px solid #f4a261;
 */
}

.manar {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: rgb(59,81,104);
  color: #f4a261;
  padding: 10px;
}

/* fikset*/
.content-table thead th,
.arlig-table thead th {
  position: sticky;
  top: 45px; 
  z-index: 10;
  background-color: #ffffff;
  color: rgb(7, 90, 32);
  border-bottom: 3px solid  #f4a261;
/*   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
 */
}

.content-table td:first-child,
.arlig-table td:first-child {
  text-align: left;
  
  white-space: nowrap;
  
} 

.content-table th:first-child,
.arlig-table th:first-child {
  text-align: left;
 
  white-space: nowrap;
} 

#medlem{

  width: 100%;
  display: flex;
  justify-content:flex-end;
  padding: 15px;
  color:gray;
  font-size: 18px;
  font-weight: 600;
/*   border: 1px solid red;
 */}
.svar {
  display: inline-block;
  margin-left: 10px;
  color: #f4a261;
}

#infoBox {
  color: rgb(59,81,104);
  display: none;
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  z-index: 1000;
}
.menu-btn {
  display: none;
}


/*----------------------------------- Mobile divices-----------------------------------------*/
@media (max-width: 780px) {

  .topTitle {
    position: relative;
  }

  .menu-btn {
    display: block;
    font-size: 32px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    color: #767474;

  }

  .topTitle ul {
    display: none;
    flex-direction: column;

    position: absolute;
    left: 10px;      /* ved siden av knappen*/
    top: 60px;

    width: 220px;
    background: white;

    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);

    z-index: 1000;
  }

  .topTitle ul.show {
    display: flex;
  }

  .topTitle li {
    width: 100%;
    list-style: none;
  }

  .topTitle li a {
    display: block;
    padding: 5px 12px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
  }

  .topTitle ul li a:hover {
  color: #f4a261;
  text-decoration: none;
  
}
  .container,
  .logo {
    width: 100%;
  }

  .logo h2 {
        font-size: 22px;
    }


  .bilde img{
    display:none;
   }

  

  .btnNavn{
    width: 100%;
    
    
  }

  input {
    width: 90%;
 }

 .sokeNavn{
  width: 100%;

 }

  #sokNavnInput{
    width:50%;

  }
  #sokNavnInput::placeholder {
  color: gray;
  font-size: 16px;
}

#sokeType{
  font-size: 16px;
  color: gray;
  
}

  .btn {
    width: 120px;
    height: 30px;
    
  }

.buttons{
  width: 100%;
}

/*------------------------------------------------------------*/

  .content-table,
  .arlig-table {
    font-size: 12px;
    width: 100%;
    border-bottom: 3px solid orange;

  }

  .content-table th,
  .content-table td
   {
    padding:6px 2px;
    width:100%;
    font-size: 13px;
    
  }

  .arlig-table th,
  .arlig-table td
   {
    padding:6px;
    width:100%;
    font-size: 13px;
    
  }

  .manar{
    width: 100%;
    font-size: 18px;
  }

  .remove-btn, .edit-btn{
    display:none;
  }

  .btnn{
    display: none;
  }

    .valuta {
    display: none;
  }

  #medlem{
     font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  
}
  

